/* Common styling for all divs */
div {
  width: 100px;
  height: 100px;
  border: 2px solid black;
}

/* Red */
#red {
  border-top-color: #f00;
}

/* Orange */
#orange {
  border-top-color: #ffa500;
}

/* Yellow */
#yellow {
  border-top-color: #ff0;
}

/* Green */
#green {
  border-top-color: #00bc3f;
}

/* Blue */
#blue {
  border-top-color: #06f;
}

/* Indigo */
#indigo {
  border-top-color: #8a2be2;
}

/* Violet */
#violet {
  border-top-color: #d300c9;
}
